.row-margin{
    margin-top: 30px;
    margin-bottom: 30px;
}

.button-margin{
    margin-left:1px;
    margin-right:10px;
}

.add-button{
    background-color:transparent;
    border-color: transparent;
}

body{
    background-color: rgb(244, 244, 244);
}